body{
    margin:0;
    padding:0;
    background-color: skyblue;
}

.center{
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    background-color:white;
    border-radius:5px;
    
}

.center h1
{
    text-align:center;
    padding-bottom:20px;
    border-bottom:1px solid silver;

}

.form{
    padding-bottom:15px;
    margin:0 20px;
    text-align:center;

}
.textfiled{
    width:100%;
    height:50px;
    font-size:19px;
    border:2px solid  skyblue;
    border-radius:5px;
    box-sizing: border-box;
    padding-left:10px;
    margin: 7px 0;
}

.btn{
    width:100%;
    height:50px;
    background-color:skyblue;
    border-radius:5px;
    font-size:20px;
    margin:7px 0;
    color:white;
}
